body{
	background-color: silver;
}

a{
	text-decoration: none;
	color: orange;
}

nav ul{
	font-family: Copperplate;
	list-style: none;
	text-align: center;
}

nav ul li{
	display: inline;
	padding: 10px;
	margin: 5px;
}
nav ul a:hover{
	color: #909090;
}

.female{
	text-align: center;
	margin-top: 40px;
}

h4{
	color: orange;
	text-align: center;
}

p{
	width: 52%;
	margin: 0 auto;
}

.male{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	
}

